/* purgecss start ignore */
.slide-up-enter-active {
  animation: slide-up 0.2s;
}

.slide-down-enter-active {
  animation: slide-down 0.2s;
}

@keyframes slide-up {
  0% {
    transform: translate(0, 100%) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* purgecss end ignore */
